{
  "trailingComma": "all",
  "printWidth": 255,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "endOfLine": "crlf",
  "disableLanguages": ["json"]
}
